<div class="about fullWidth">
  <div class="row">
    <div class="logo">
      <img src="assets/airkod.svg">
    </div>
    <div class="content">
      <div class="texts">
        <h2>AIRKOD</h2>
        <h4>Fast Research <mat-chip>v.0.9.5</mat-chip></h4>
      </div>
    </div>
  </div>
  <div class="textCenter buttons">
    <button mat-button color="primary" (click)="open('https://airkod.com/?source=fast-research')">
      airkod.com
    </button>
    <button mat-button color="primary" (click)="open('https://www.linkedin.com/company/94852284/admin/feed/posts/')">
      linkedin
    </button>
    <button mat-button color="primary" (click)="open('https://www.facebook.com/airkod.software')">
      facebook
    </button>
    <button mat-button color="primary" (click)="open('https://www.instagram.com/airkod_software/')">
      instagram
    </button>
  </div>
</div>
