.link {
  margin-top: 15px;
  overflow: hidden;

  .image {
    height: 100px;
    min-width: 100px;
    background-size: cover;
    width: 100px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgb(0 0 0 / 23%);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
  }

  .preview {
    display: flex;

    .text {
      padding-top: 5px;

      .metaTitle {
        padding: 0;
        margin: 0 0 10px;
      }

      .description {
        margin-bottom: 10px;
      }

      .link {
        color: #64b5f6;
      }
    }
  }
}
